{{> mainmenu _id="home" }}

<section class="ui raised segment">


    <div class="ui  divider"></div>

    <div class="ui grid">
       <img src="images/poi3.jpg" class="ui large image" /></img>
    </div>

</section>