{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/main.jpg" class="ui medium image" /></aside>
        <article class="ten wide column">
            <header class="ui  header">Points Of Interest</header>
            <p>This app will help you discover points of interest and learn more about them</p>
            {{> error }}
        </article>
    </div>
</section>
</section>
