{{> mainmenu }}
<section class="ui raised segment">
<h3 class="ui header"> {{pois.name}} </h3>
<div class="ui hidden divider"></div>
<div>
    <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-scale-up">
        <div class="uk-card-media-top">
            <img src="{{pois.link}}"  width="640">
        </div>

    </div>
</div>
<div class="ui hidden divider"></div>
<h3 class="ui header">{{pois.description}}</h3>
</section>